{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    {{ article[0].title }}
                </p>
            </div>
        </div>
    </section>
{% endblock %}
