<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src={{ article.image }}>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{ article.author }}</strong> <small>@johnsmith</small> <small>{{ article.createdAt }}</small>
                <br>
                {{ article.intro }}
            </p>
        </div>
    </div>
</article>